bootloader = '/usr/lib/xen-default/bin/pygrub'
vcpus       = '{$vcpu}'
memory      = '{$memory}'
root        = '/dev/xvda2 ro'
disk        = [
                  'file:{$domainsdir}/{$hostname}/disk.img,xvda2,w',
                  'file:{$domainsdir}/{$hostname}/swap.img,xvda1,w',
              ]
name        = '{$hostname}'
vif         = [ 'ip={$ip},mac={$mac}' ]
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'
